body
{
  /* margin: -20px; */
  box-sizing: border-box;
  margin: 0;
}
.container {
    height: 100vh;
  display: flex;
  color: white;
  background-color: #020230;
  width: 100vw;
    position: fixed;
}

.main {
    display: flex;
  flex-direction: column;
    width: 75%;
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/bg.jpg") center;
}
.top
{
    height: 50%;
    /* position: relative; */
}
.timer{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    border:5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    position: absolute; 
    top: 30%;
    left: 10%;
   
}
.bottom
{
height: 50%;
}
.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.question
{
    width: 80%;
    /* background-color: black;
     */
     background: linear-gradient(#100241,black);
    border: 3px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: 400;
}
.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid white; */
}
.answer{
    width: 40%;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124,black);
    border: 1px solid white;
    border-radius: 15px;
    margin :0 10px 20px 10px;
    cursor: pointer;
}
.answer:hover,.answer.active
{
    background: mediumblue;
   
}

.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct{
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: green;
    }
}
.answer.wrong:hover{
    animation: wrong 3s ease forwards;
}
@keyframes wrong{
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: crimson;
    }
}
.money {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: #020230;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #fff;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
    color: antiquewhite;
 

}

.moneyListItemAmount {
    font-size: 25px;
    font-weight: 300;
}
.moneyListItem.active{
    border-radius: 5px;
    border:2px solid gray;
    background-color:burlywood;
}
.endtext{
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto
}
















/* .pyramid {
    width: 25%;
    background-color: #020230;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .moneyList {
    padding: 20px;
    list-style: none;
    width: 100%;
  }
  
  .moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  .moneyListItem.active {
    background-color: teal;
  }
  
  .moneyListItemNumber {
    width: 30%;
    font-size: 18px;
    font-weight: 100;
  }
  
  .moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
  } */